* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
    height: 124px;
    border: 1px solid blue;

}
.header-box {
    height: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
}

.logo {
    max-width: 100px;
}

.logo img {
    max-width: 100%;
}

.container {
    height: 100%;
  max-width: 1230px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {

}

.footer-box {
    height: 156px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.footer-nav{
    flex-grow: 1;
}